.DS_Store
.env
.env.*
!.env.example
.turbo
dist
node_modules
coverage
bun.lockb
*.tsbuildinfo
*.log
.logs
.pi-subagents
release
.rika
.alchemy

# TypeDoc scratch directories created by scripts/docs-api.ts.
.typedoc-*
